{% extends "DjPanelShowBundle::showbase.html.twig" %}

{% block pagetitle %}{{ show.name }}{% endblock %}

{% block body %}

<div class="page-header">
    <h3>{{ show.name }}</h3>
</div>

Yoyoyoy

{% endblock %}