{% extends "::base.html.twig" %}

{% block pagetitle %}Dashboard{% endblock %}

{% block container %}

<div class="page-header">
    <h3>Your Dashboard</h3>
</div>

<div class="row">
    <div class="span7">
        <div class="well well-white">
            <h4>Stream</h4>
            <div class="stream" style="overflow:auto;height:400px;">
                <div class="item">
                    <div class="stream-icon stream-success">
                        <i class="icon-thumbs-up"></i>
                    </div>
                    <p class="date">Just Now <small>via web</small></p>
                    <h4>Jamie Greeff</h4>
                    <div class="row">
                        <p class="span6">
                            thinks that <strong>Carly Rae Jepsen - Call Me Maybe</strong> is a choon!
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="stream-icon">
                        <i class="icon-play"></i>
                    </div>
                    <p class="date">Just Now</p>
                    <h4>Now Playing</h4>
                    <div class="row">
                        <p class="span6">
                            Carly Rae Jepsen - Call Me Maybe
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="stream-icon stream-info">
                        <i class="icon-bullhorn"></i>
                    </div>
                    <p class="date">Just Now <small>via TF2</small></p>
                    <h4>Jamie Greeff</h4>
                    <div class="row">
                        <p class="span6">
                            Play anything but Bieber please
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="stream-icon stream-warning">
                        <i class="icon-reply"></i>
                    </div>
                    <p class="date">Just Now <small>via API</small></p>
                    <h4>Jamie Greeff</h4>
                    <div class="row">
                        <p class="span6">
                            DJ Fresh - The Feeling
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="stream-icon stream-danger">
                        <i class="icon-thumbs-down"></i>
                    </div>
                    <p class="date">Just Now <small>via Minecraft</small></p>
                    <h4>Jamie Greeff</h4>
                    <div class="row">
                        <p class="span6">
                            thinks that <strong>Justin Bieber - Baby</strong> is poon!
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="stream-icon stream-info">
                        <i class="icon-bullhorn"></i>
                    </div>
                    <p class="date">Just Now <small>via Minecraft</small></p>
                    <h4>Jamie Greeff</h4>
                    <div class="row">
                        <p class="span6">
                            Hmm this radio seems pretty good
                        </p>
                    </div>
                </div>
            </div>
            <div class="stream-legend">
                <span class="badge badge-success"><i class="icon-thumbs-up"></i></span> Choon
                <span class="badge badge-important"><i class="icon-thumbs-down"></i></span> Poon
                <span class="badge badge-info"><i class="icon-bullhorn"></i></span> Shoutout
                <span class="badge badge-warning"><i class="icon-reply"></i></span> Request
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="well well-white">
            <div id="graphListeners" style="height: 250px; margin: 0 auto"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    "@DjPanelMainBundle/Resources/public/js/highcharts.js"
    "@DjPanelMainBundle/Resources/public/js/dashboard.js"
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    "@DjPanelMainBundle/Resources/public/css/stream.less"
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}