{% extends "::base.html.twig" %}

{% block pagetitle %}Dashboard{% endblock %}

{% block container %}

<div class="page-header">
    <h3>Your Dashboard</h3>
</div>

<div class="row">
    <div class="span7">
        <div class="well well-white">
            {% render "DjPanelMainBundle:Stream:view" %}
        </div>
    </div>
    <div class="span5">
        <div class="well well-white">
            <div id="graphListeners" style="height: 250px; margin: 0 auto"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    "@DjPanelMainBundle/Resources/public/js/highcharts.js"
    "@DjPanelMainBundle/Resources/public/js/dashboard.js"
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    "@DjPanelMainBundle/Resources/public/css/stream.less"
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}