{% extends "::base.html.twig" %}

{% block sidebar %}
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Auto DJ</li>
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="">Configure Playlists</a></li>
        <li><a href="">Manage Media</a></li>
    </ul>
</div>
{% endblock %}