{% extends "::base.html.twig" %}

{% block sidebar %}
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Administration</li>
        <li class="active"><a href="#">Main</a></li>
        <li><a href="#">Icecast2 / Shoutcast</a></li>
    </ul>
</div>
{% endblock %}