{% extends "DjPanelAdminBundle::base.html.twig" %}

{% block pagetitle %}Admin{% endblock %}

{% block body %}

<div class="page-header">
    <h3>Station Administration</h3>
</div>

Yoyoyoy

{% endblock %}